/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/spool
/app/config/parameters*
/app/config/config_prod*ölp
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/vendor/
/bin/
/composer.phar
/composer.lock

/.idea
/web/css
/web/js
/web/fonts
/app/Resources/bower
/app/Resources/css
/node_modules